@font-face{
  font-family:'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}
*{
  font-family: 'RobotoMono', monospace;
}

body{
  display: flex;  
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: aliceblue;
  background: linear-gradient(to right,rgb(97, 67, 133), rgb(81, 99, 149));
}